@import '../variables.scss';

.admin{
    margin-top: 75px;
}

.admin__btn{
    text-align: center;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #333;
    color: #333;
    transition: .1s ease;
    margin-bottom: 25px;

    &:hover{
        background-color: $main_color;
        color: #fff;
        border-color: $main_color;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .35);
    }
}